[submodule "modules/pont"]
	path = modules/pont
	url = https://www.github.com/AlexAegis/pont
	branch = master
[submodule "modules/wallpapers"]
	path = modules/wallpapers
	url = https://www.github.com/AlexAegis/wallpapers
	branch = master
[submodule "modules/powerline/XDG_CONFIG_HOME.powerline/powerline/fonts"]
	path = modules/powerline/XDG_CONFIG_HOME.powerline/powerline/fonts
	url = https://www.github.com/powerline/fonts
	branch = master
	ignore = dirty
[submodule "modules/emacs/XDG_CONFIG_HOME.emacs/emacs.d"]
	path = modules/emacs/XDG_CONFIG_HOME.emacs/emacs.d
	url = https://www.github.com/hlissner/doom-emacs
	branch = master
[submodule "modules/kakoune/XDG_CONFIG_HOME.kakoune/kak/plugins/plug.kak"]
	path = modules/kakoune/XDG_CONFIG_HOME.kakoune/kak/plugins/plug.kak
	url = https://www.github.com/robertmeta/plug.kak
	branch = master
[submodule "modules/pass/resources/pass-git-helper"]
	path = modules/pass/resources/pass-git-helper
	url = https://www.github.com/languitar/pass-git-helper
[submodule "modules/windows-terminal/resources/windows-terminal-shaders"]
	path = modules/windows-terminal/resources/windows-terminal-shaders
	url = https://www.github.com/Hammster/windows-terminal-shaders
