[submodule "dot"]
	path = dot
	url = https://github.com/AlexAegis/dot
[submodule "modules/doom/.doom/.config/gzdoom/iwad"]
	path = modules/doom/.doom/.config/gzdoom/iwad
	url = https://github.com/dgeng/iwad.git
	ignore = dirty
[submodule "modules/powerline/.powerline/.config/powerline/fonts"]
	path = modules/powerline/.powerline/.config/powerline/fonts
	url = https://github.com/powerline/fonts
	ignore = dirty
[submodule "modules/tmux/oh-my-tmux"]
	path = modules/tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux
[submodule "modules/tmux/.tmux/.config/tmux/oh-my-tmux"]
	path = modules/tmux/.tmux/.config/tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux
