[Unit]
Description=Entr Watch Environment
Documentation=man:entr(1)

[Service]
ExecStart=%h/.entr/bin/entr-notifications.sh
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=default.target
