[Unit]
Description=Feh Wallpaper
Documentation=man:feh(1)
After=daemon-reload.service
PartOf=feh-wallpaper.path

[Service]
ExecStart=%E/feh/.fehbg
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=xsession.target
WantedBy=daemon-reload.service
