# deprecated
[Unit]
Description=Entr watch autorestarter
OnFailure=notify-failure@%N.service
Wants=notify-restart@%N.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart --user entr-watch.service
StartLimitBurst=5
StartLimitIntervalSec=10

[Install]
WantedBy=watcher.target
