[Unit]
Description=sxhkd config watcher
Documentation=man:sxhkd(1)
Wants=notify-restart@%N.service

[Service]
ExecStart=%E/systemd/restart_on_change -d "%E/sxhkd" -s "sxhkd"

[Install]
WantedBy=default.target
