[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
OnFailure=notify-failure@%N.service
Wants=notify-restart@%N.service

# killmode process needed because this service is used to
# spawn other processes that should live independently
[Service]
ExecStart=/bin/sh -c '/usr/bin/sxhkd $XDG_CONFIG_HOME/sxhkd/sxhkdrc.d/*'
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
KillMode=process
Restart=always

[Install]
# Automatically launch when the xsession starts
WantedBy=xsession.target
