[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
User=torrent
Group=media
ExecStart=/usr/bin/qbittorrent-nox
ExecStop=/usr/bin/killall -w qbittorrent-nox

[Install]
WantedBy=multi-user.target
