[Unit]
Description=qBittorrent Daemon Service
After=var-media.mount
Requires=var-media.mount
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
User=torrent
Group=media
ExecStart=/usr/bin/qbittorrent-nox --confirm-legal-notice
ExecStop=/usr/bin/killall -w qbittorrent-nox
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
