[Unit]
Description=Picom compositor dual kawase fork from tryone144
Documentation=man:picom(1)
PartOf=graphical-session.target

[Service]
ExecStart=%h/.dotfiles/modules/picom/resources/compton/build/src/picom \
	--experimental-backends
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
# Try to restart no matter how the process ended
Restart=always
# Restart in 5 second intervals
RestartSec=5
# Try to restart up to 3 times
StartLimitBurst=3
# Don't try to restart after 60 seconds
StartLimitIntervalSec=60

[Install]
WantedBy=xsession.target
