[Unit]
Description=Daemon Reload
Documentation=man:systemd(1)

[Service]
Type=oneshot
ExecStart=notify-send 'daemon reloaded'
ExecStart=/usr/bin/systemctl --user daemon-reload

[Install]
WantedBy=default.target
