[Unit]
Description=Daemon Reload
Documentation=man:systemd(1)
PartOf=user-services.path
Wants=notify-restart@%N.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user daemon-reload

[Install]
WantedBy=default.target
