[Unit]
Description=User environment watcher (Daemon Reloader)
Documentation=man:systemd(1)
Wants=notify-restart@%N.service

[Service]
ExecStart=%E/systemd/restart_on_change \
	-t "%E/environment.d" -s "daemon-reload"

[Install]
WantedBy=watcher.target
