[Unit]
Description=Notify about low priority events

[Service]
Type=oneshot
ExecStart=notify-send --urgency=low '%i'

[Install]
WantedBy=default.target
