[Unit]
Description=Daemon Reload
Documentation=man:systemd(1)
Wants=notify-restart@%N.service

[Service]
ExecStart=%E/systemd/restart_on_change -d "%E/systemd/user" -s "daemon-reload"

[Install]
WantedBy=default.target
