[Unit]
Description=Sxhkd autorestarter

[Service]
Type=oneshot
ExecStart=%h/.config/sxhkd/bin/sxhkd-restart-service.sh
# Restart at most 5 times...
StartLimitBurst=5
# ...in a 10 second interval
StartLimitIntervalSec=10

[Install]
WantedBy=default.target
