#!/bin/sh

if [ "$LAYOUT" ] && [ "$LAYOUT_USE_CONF" = "0" ]; then
	# load layout
	layout_file="$XDG_CONFIG_HOME/xorg/layout/$LAYOUT.layout"
	# shellcheck disable=SC1090
	[ -x "$layout_file" ] && . "$layout_file"
fi
