[Unit]
Description=Wal apply wallpaper
Documentation=man:wal(1)
Wants=notify-restart@%N.service

[Service]
Type=oneshot
ExecStart=%E/wal/wal.sh
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=xsession.target
